<header class="primary-header" style="background-color: white; padding:0px;">
	<nav class="primary-header__nav" style="background-color: #0368B8;">
		<div class="">
			<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: white; padding: 0px 0px 10px 25px;">
                <div class="container no-padding">
				<div id="header_logo" class="col-xs-6 col-sm-6 col-md-6 col-lg-4 primary-header__logo no-padding">
                    <h2 style="font-size: 3.0em; color:#333333;">Sky Finance</h2>
                    <p style="font-size:1.2em; color:#333333">something text here</p>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 pull-right primary-header__navigation">
					<div class="primary-header__navigation--clearfix">
                        <div class="col-md-12 text-right">
                            <img src="<%= image_path('color_logo.png') %>" style="width: 230px"></img>
                        </div>
					</div>

				</div>
				</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center primary-header__navigation" style="height:50px; margin-top:0px;">
					<div class=" primary-header__pages">
						<ul style="text-align:center">
							<li class="active">
								<a href="<%= home_index_path %>" title="Home">Home</a>
							</li>
							<li>
								<a href="<%= home_set_your_budget_path %>" title="Set your budget">Set your budget</a>
							</li>
							<li>
								<a href="<%= home_how_it_works_path %>" title="How it works">How it works</a>
							</li>
							<li>
								<a href="<%= home_help_and_advice_path %>" title="Help &amp; advice">Help &amp; advice</a>
							</li>
							<li>
								<a href="<%= home_about_us_path %>" title="About us">About us</a>
							</li>
						</ul>
					</div>
                </div>
			</div>
		</div>
	</nav>
   
</header>
