
<body>
	<div class="container-fluid">
		<div class="row">
            <%= render 'template/navheader' %>
			<div class="hidden-md hidden-lg" id="bgOverlay" style="display: none;position: fixed; top:0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.5); z-index:9998;">
			</div>
			<div class="scroll-stop" style="overflow-y: hidden; position: relative;">
				<!-- MAIN SECTION | MOB-DESK -->
				<section class="main-section" style="background-image: url(<%= image_path('top.png') %>)">

					<div class="container">
						<div class="row heroSectionContent">
							<div class="col-xs-10 col-sm-6 col-md-5 pull-left">
								<h2 class="h2-mimic__h1-main">Get your
        <br>finance first
      </h2>
								<div class="h2-section">
									<h2 class="first">good to go</h2>
									<h2 class="second">for your ideal car</h2>
									<!--for purple tags wrap in span-->
									<ul class="home-page-new__ul">
										<li>satisfied with your finance first
										</li>
										<li>be ready for choosing your car happily
										</li>
										<li>Good to go to get your ideal car
										</li>
									</ul>
								</div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-3 hidden-xs hidden-sm" style="padding:0">
                                    <img src="<%= image_path('yajirushi.png') %>" style="width:60%"></img>
                                </div>
								<a href="<%= home_apply_path %>" class="hidden-xs hidden-sm btn btn-green btn-apply-now" data-ga-item="" data-ga-label="Apply now" data-ga-action="Apply now" data-ga-category="Homepage" data-ga-event="Homepage">Apply now 
        <i class="fa fa-chevron-right"></i>
      </a>
							</div>
							<div class="col-md-5 col-lg-4 hidden-xs hidden-sm pull-right">
								<div class="panel panel-default calculator-mini-widget">
									<div class="panel-heading">
										Set your budget
									</div>
									<div class="panel-arrow-down">
									</div>
									<div class="panel-body">
										<div class="form-horizontal" role="form">
											<div class="form-group eight-below">
												<label class="control-label col-sm-12" for="amount-to-borrow-mini">Amount to borrow</label>
												<div class="col-sm-12">
													<div class="borrow-group borrow-blue-out">
														<a style="width: 40px; float: left;">
															<svg style="width:40px;height:40px;cursor:pointer;" onclick="alterCalcAmount(false)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.74 197.67">
																<defs>
																	<style>
																		.minus-svg-1 {
																			fill: #008F7A;
																			fill-rule: evenodd;
																		}
																		.minus-svg-2 {
																			fill: #fff;
																		}

																	</style>
																</defs>
																<title>Asset 6</title>
																<g id="Layer_2" data-name="Layer 2">
																	<g id="Calc_Box" data-name="Calc Box">
																		<path class="minus-svg-1" d="M25.34,0H177.39a25.34,25.34,0,0,1,25.34,25.34v147a25.34,25.34,0,0,1-25.34,25.35H25.34A25.34,25.34,0,0,1,0,172.32v-147A25.34,25.34,0,0,1,25.34,0Z"></path>
																		<path class="minus-svg-2" d="M150.59,107.12a2.86,2.86,0,0,1-3.08,2.53l-92.62-.05a2.86,2.86,0,0,1-3.09-2.53V96.94a2.85,2.85,0,0,1,3.08-2.53l92.61.05A2.87,2.87,0,0,1,150.59,97Z"></path>
																	</g>
																</g>
															</svg>
														</a>
														<div class="borrow-mini-section">
															<span>&#163;
      </span>
															<input type="text" class="form-control-borrow-mini" value="7500">
														</div>
														<a style="width: 40px; margin-left: 5px; float: left;">
															<svg style="width:40px;height:40px;cursor:pointer;" onclick="alterCalcAmount(true)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.74 197.67">
																<defs>
																	<style>
																		.plus-svg-1 {
																			fill: #008F7A;
																			fill-rule: evenodd;
																		}
																		.plus-svg-2 {
																			fill: #fdfdfe;
																		}

																	</style>
																</defs>
																<title>Asset 6</title>
																<g id="Layer_2" data-name="Layer 2">
																	<g id="Calc_Box" data-name="Calc Box">
																		<path class="plus-svg-1" d="M25.34,0H177.39a25.34,25.34,0,0,1,25.34,25.34v147a25.34,25.34,0,0,1-25.34,25.35H25.34A25.34,25.34,0,0,1,0,172.32v-147A25.34,25.34,0,0,1,25.34,0Z"></path>
																		<path class="plus-svg-2" d="M142.58,107.27a2.6,2.6,0,0,1-2.59,2.59H111.46a2.6,2.6,0,0,0-2.59,2.59V141a2.6,2.6,0,0,1-2.59,2.59l-10.38,0A2.61,2.61,0,0,1,93.3,141V112.42a2.61,2.61,0,0,0-2.6-2.6l-28.53,0a2.6,2.6,0,0,1-2.6-2.6V96.83a2.6,2.6,0,0,1,2.59-2.59l28.54,0a2.6,2.6,0,0,0,2.59-2.59V63.13a2.6,2.6,0,0,1,2.59-2.59h10.38a2.61,2.61,0,0,1,2.59,2.6V91.68a2.61,2.61,0,0,0,2.59,2.6l28.53,0a2.61,2.61,0,0,1,2.59,2.6Z"></path>
																	</g>
																</g>
															</svg>
														</a>
													</div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text" name="bootstrapSlider" data-provide="slider" data-value="7500" value="7500" data-slider-min="1000" data-slider-max="250000" style="display: none;" data-slider-step="250" data-slider-value="7500">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-12" for="sel1">To pay back over</label>
												<div class="col-sm-12">
													<div class="pay-back-group">
														<a>
															<svg style="width:40px;height:40px;cursor:pointer;" onclick="changeCalcYears(false)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.74 197.67">
																<defs>
																	<style>
																		.minus-svg-1 {
																			fill: #008F7A;
																			fill-rule: evenodd;
																		}
																		.minus-svg-2 {
																			fill: #fff;
																		}

																	</style>
																</defs>
																<title>Asset 6</title>
																<g id="Layer_2" data-name="Layer 2">
																	<g id="Calc_Box" data-name="Calc Box">
																		<path class="minus-svg-1" d="M25.34,0H177.39a25.34,25.34,0,0,1,25.34,25.34v147a25.34,25.34,0,0,1-25.34,25.35H25.34A25.34,25.34,0,0,1,0,172.32v-147A25.34,25.34,0,0,1,25.34,0Z"></path>
																		<path class="minus-svg-2" d="M150.59,107.12a2.86,2.86,0,0,1-3.08,2.53l-92.62-.05a2.86,2.86,0,0,1-3.09-2.53V96.94a2.85,2.85,0,0,1,3.08-2.53l92.61.05A2.87,2.87,0,0,1,150.59,97Z"></path>
																	</g>
																</g>
															</svg>
														</a>
														<input type="text" placeholder="4 years" class="hidden">
														<div class="text-holder">
															<span class="calc-term-holder">4 years
      </span>
														</div>
														<a>
															<svg style="width:40px;height:40px;cursor:pointer;" onclick="changeCalcYears(true)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.74 197.67">
																<defs>
																	<style>
																		.plus-svg-1 {
																			fill: #008F7A;
																			fill-rule: evenodd;
																		}
																		.plus-svg-2 {
																			fill: #fdfdfe;
																		}

																	</style>
																</defs>
																<title>Asset 6</title>
																<g id="Layer_2" data-name="Layer 2">
																	<g id="Calc_Box" data-name="Calc Box">
																		<path class="plus-svg-1" d="M25.34,0H177.39a25.34,25.34,0,0,1,25.34,25.34v147a25.34,25.34,0,0,1-25.34,25.35H25.34A25.34,25.34,0,0,1,0,172.32v-147A25.34,25.34,0,0,1,25.34,0Z"></path>
																		<path class="plus-svg-2" d="M142.58,107.27a2.6,2.6,0,0,1-2.59,2.59H111.46a2.6,2.6,0,0,0-2.59,2.59V141a2.6,2.6,0,0,1-2.59,2.59l-10.38,0A2.61,2.61,0,0,1,93.3,141V112.42a2.61,2.61,0,0,0-2.6-2.6l-28.53,0a2.6,2.6,0,0,1-2.6-2.6V96.83a2.6,2.6,0,0,1,2.59-2.59l28.54,0a2.6,2.6,0,0,0,2.59-2.59V63.13a2.6,2.6,0,0,1,2.59-2.59h10.38a2.61,2.61,0,0,1,2.59,2.6V91.68a2.61,2.61,0,0,0,2.59,2.6l28.53,0a2.61,2.61,0,0,1,2.59,2.6Z"></path>
																	</g>
																</g>
															</svg>
														</a>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
										            <button style="display: block; margin: 0 auto; padding: 10px 15px; margin-top: 5px;" class="btn btn-blue scroll-to-element mini-calc-btn-scroller" data-scroll-target="#large-calculator">

										                <img class="hidden-sm" src="<%= image_path('calc.png') %>" style="margin-right: 10px;" alt="white calculator">

										                Calculate your loan

										                <img class="hidden-sm" src="<%= image_path('down-arrow.png') %>" alt="down arrow" style="margin-left: 10px; transform: rotate(180deg);">
										            </button>


												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- LARGE CALC |  -->
				<section class="large-calculator calculator-page-calc main-calc-scroll calculator-widget">
					<div class="main-calc-section">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-md-7 col-lg-6 col-lg-offset-1">
									<div class="calculator-title">
										<h2>
        <svg class="compact-calculator_car-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 222.53 95.41">
          <defs>
            <style>.car-svg{fill: #695e93;}</style>
          </defs>
          <title>Asset 1</title>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Car">
              <path class="car-svg" d="M2.11,71.7c4.71,2.69,12.21,4,20.46,5.28,0-.58-.09-1.17-.09-1.76a25.58,25.58,0,1,1,51.16,0c0,.6,0,1.18-.09,1.77h76.2c0-.59-.09-1.17-.09-1.77a25.58,25.58,0,1,1,51.16,0c0,.58,0,1.15-.09,1.72,10.15-1,15.11-1.41,16.75-1.87,3.15-.9,4.17-6.07,4.94-9.89h-.2c1.43-15-2.89-24.32-2.89-24.32-3.2-7.58-38.17-13.2-48.14-17.47-11.8-5.06-36.32-20-51.68-22C98.81-1.3,71.06.23,61.32,3.39a312.42,312.42,0,0,0-38.2,16c-10.79,4-20.27,5.12-20.56,6.18-4.38,16.18-2,28.09-1,34.15l-1,2C.75,63-.16,70.22,2.11,71.7Zm199.2-32.13c6.52.82,13,1.8,13.7,2.92,1.41,2.35,2.25,8.54,2.25,8.54s-9.92-5.5-12.36-7C201.53,42,195.92,38.89,201.31,39.56ZM101.14,26.94,99.53,6.66a171.59,171.59,0,0,1,18.89,1.22c9.47,1.22,24.42,8.88,35.34,14.48,5,2.58,6.61,6.33-3.83,6.06C139.07,28.15,120,27.56,101.14,26.94ZM57.78,25.51l1.73-14.08c3.32-1.19,5.35-1.82,5.41-1.84C69.81,8,80.86,6.86,92.62,6.65l1.59,20.06ZM44.67,17.36c3.93-1.73,7.52-3.18,10.57-4.35L53.72,25.37l-7.5-.25C37.62,24.83,40.53,19.19,44.67,17.36Z"></path>
              <path class="car-svg" d="M155.05,75.22A20.19,20.19,0,1,0,175.25,55,20.19,20.19,0,0,0,155.05,75.22Zm11.51,0a8.68,8.68,0,1,1,8.67,8.68A8.68,8.68,0,0,1,166.57,75.22Z"></path>
              <path class="car-svg" d="M27.87,75.22A20.19,20.19,0,1,0,48.07,55,20.19,20.19,0,0,0,27.87,75.22Zm11.51,0a8.68,8.68,0,1,1,8.67,8.68A8.68,8.68,0,0,1,39.38,75.22Z"></path>
            </g>
          </g>
        </svg>Set your budget
      </h2>
									</div>
									<div class="amount-to-borrow-form" role="form">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-lg-7">
												<div class="form-group eight-below">
													<label for="Amount-to-borrow-large" class="large-calc__label-left">Amount to borrow</label>
													<div class="borrow-group">
														<a style="width: 40px; float: left;" class="form-alteration-button" data-for="Amount-to-borrow-large">
															<svg style="width:40px;height:40px;cursor:pointer;" onclick="alterCalcAmount(false)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.74 197.67">
																<defs>
																	<style>
																		.minus-svg-1 {
																			fill: #008F7A;
																			fill-rule: evenodd;
																		}
																		.minus-svg-2 {
																			fill: #fff;
																		}

																	</style>
																</defs>
																<title>Asset 6</title>
																<g id="Layer_2" data-name="Layer 2">
																	<g id="Calc_Box" data-name="Calc Box">
																		<path class="minus-svg-1" d="M25.34,0H177.39a25.34,25.34,0,0,1,25.34,25.34v147a25.34,25.34,0,0,1-25.34,25.35H25.34A25.34,25.34,0,0,1,0,172.32v-147A25.34,25.34,0,0,1,25.34,0Z"></path>
																		<path class="minus-svg-2" d="M150.59,107.12a2.86,2.86,0,0,1-3.08,2.53l-92.62-.05a2.86,2.86,0,0,1-3.09-2.53V96.94a2.85,2.85,0,0,1,3.08-2.53l92.61.05A2.87,2.87,0,0,1,150.59,97Z"></path>
																	</g>
																</g>
															</svg>
														</a>
														<div class="borrow-mini-section">
															<span>&#163;
      </span>
															<input type="text" class="form-control-borrow-mini" value="7500">
														</div>
														<a style="width: 40px; float: left; margin-left: 5px;" class="form-alteration-button" data-for="Amount-to-borrow-large">
															<svg style="width:40px;height:40px;cursor:pointer;" onclick="alterCalcAmount(true)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.74 197.67">
																<defs>
																	<style>
																		.plus-svg-1 {
																			fill: #008F7A;
																			fill-rule: evenodd;
																		}
																		.plus-svg-2 {
																			fill: #fdfdfe;
																		}

																	</style>
																</defs>
																<title>Asset 6</title>
																<g id="Layer_2" data-name="Layer 2">
																	<g id="Calc_Box" data-name="Calc Box">
																		<path class="plus-svg-1" d="M25.34,0H177.39a25.34,25.34,0,0,1,25.34,25.34v147a25.34,25.34,0,0,1-25.34,25.35H25.34A25.34,25.34,0,0,1,0,172.32v-147A25.34,25.34,0,0,1,25.34,0Z"></path>
																		<path class="plus-svg-2" d="M142.58,107.27a2.6,2.6,0,0,1-2.59,2.59H111.46a2.6,2.6,0,0,0-2.59,2.59V141a2.6,2.6,0,0,1-2.59,2.59l-10.38,0A2.61,2.61,0,0,1,93.3,141V112.42a2.61,2.61,0,0,0-2.6-2.6l-28.53,0a2.6,2.6,0,0,1-2.6-2.6V96.83a2.6,2.6,0,0,1,2.59-2.59l28.54,0a2.6,2.6,0,0,0,2.59-2.59V63.13a2.6,2.6,0,0,1,2.59-2.59h10.38a2.61,2.61,0,0,1,2.59,2.6V91.68a2.61,2.61,0,0,0,2.59,2.6l28.53,0a2.61,2.61,0,0,1,2.59,2.6Z"></path>
																	</g>
																</g>
															</svg>
														</a>
													</div>
												</div>
												<div class="form-group">

													<input type="text" name="bootstrapSlider" data-provide="slider" data-value="7500" value="7500" data-slider-min="1000" data-slider-max="250000" style="display: none;" data-slider-step="250" data-slider-value="7500">

												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-lg-5">
												<div class="form-group">
													<label for="to-bay-back-over-large">To pay back over</label>
													<div class="pay-back-group">
														<a style="float: left;">
															<svg style="width:40px;height:40px;cursor:pointer;" onclick="changeCalcYears(false)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.74 197.67">
																<defs>
																	<style>
																		.minus-svg-1 {
																			fill: #008F7A;
																			fill-rule: evenodd;
																		}
																		.minus-svg-2 {
																			fill: #fff;
																		}

																	</style>
																</defs>
																<title>Asset 6</title>
																<g id="Layer_2" data-name="Layer 2">
																	<g id="Calc_Box" data-name="Calc Box">
																		<path class="minus-svg-1" d="M25.34,0H177.39a25.34,25.34,0,0,1,25.34,25.34v147a25.34,25.34,0,0,1-25.34,25.35H25.34A25.34,25.34,0,0,1,0,172.32v-147A25.34,25.34,0,0,1,25.34,0Z"></path>
																		<path class="minus-svg-2" d="M150.59,107.12a2.86,2.86,0,0,1-3.08,2.53l-92.62-.05a2.86,2.86,0,0,1-3.09-2.53V96.94a2.85,2.85,0,0,1,3.08-2.53l92.61.05A2.87,2.87,0,0,1,150.59,97Z"></path>
																	</g>
																</g>
															</svg>
														</a>
														<input type="text" placeholder="4 years" class="hidden">
														<div class="text-holder">
															<span class="calc-term-holder">4 years
      </span>
														</div>
														<a style="float: left;">
															<svg style="width:40px;height:40px;cursor:pointer;" onclick="changeCalcYears(true)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.74 197.67">
																<defs>
																	<style>
																		.plus-svg-1 {
																			fill: #008F7A;
																			fill-rule: evenodd;
																		}
																		.plus-svg-2 {
																			fill: #fdfdfe;
																		}

																	</style>
																</defs>
																<title>Asset 6</title>
																<g id="Layer_2" data-name="Layer 2">
																	<g id="Calc_Box" data-name="Calc Box">
																		<path class="plus-svg-1" d="M25.34,0H177.39a25.34,25.34,0,0,1,25.34,25.34v147a25.34,25.34,0,0,1-25.34,25.35H25.34A25.34,25.34,0,0,1,0,172.32v-147A25.34,25.34,0,0,1,25.34,0Z"></path>
																		<path class="plus-svg-2" d="M142.58,107.27a2.6,2.6,0,0,1-2.59,2.59H111.46a2.6,2.6,0,0,0-2.59,2.59V141a2.6,2.6,0,0,1-2.59,2.59l-10.38,0A2.61,2.61,0,0,1,93.3,141V112.42a2.61,2.61,0,0,0-2.6-2.6l-28.53,0a2.6,2.6,0,0,1-2.6-2.6V96.83a2.6,2.6,0,0,1,2.59-2.59l28.54,0a2.6,2.6,0,0,0,2.59-2.59V63.13a2.6,2.6,0,0,1,2.59-2.59h10.38a2.61,2.61,0,0,1,2.59,2.6V91.68a2.61,2.61,0,0,0,2.59,2.6l28.53,0a2.61,2.61,0,0,1,2.59,2.6Z"></path>
																	</g>
																</g>
															</svg>
														</a>
													</div>
												</div>
											</div>
										</div>
										<p>In this illustration your credit score is set to
											<select class="select-p-text user-input-creditscore" name="select-p-text">
											</select>
										</p>
										<div class="desktop-arrow-right-main visible-md visible-lg">
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 visible-xs visible-sm">
									<div class="down-arrow-bottom-fit">
										<div class="down-arrow-borrow">
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-md-5 col-lg-4 main-calc__rates-section">
									<div class="table-container-best-rates hidden-xs hidden-sm">
										<table class="table best-available-rate">
											<tbody>
												<tr>
													<td class="best-rate">Best available rate
														<span class="user-output-creditscore">7.0%
              </span>
													</td>
												</tr>
												<tr>
													<td>Total repayment
														<span class="user-output-total-repayment">&#163;8,584.78
              </span>
													</td>
												</tr>
												<tr>
													<td>Total cost of credit
														<span class="user-output-total-cost">&#163;1,084.78
              </span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="row">
										<div class="calc-main-buttons">
											<div class="col-xs-12 col-sm-6 col-md-12 right-padd-off">
												<button class="btn btn-blue large-calc-custom-repayments">
													<div class="down-arrow-container">
														<span class="down-arrow down-arrow-inset visible-xs visible-sm">
      </span>
													</div>
													<div class="large-calc-custom-repayments-text">
														<div class="desktop-arrow-right-secondary visible-md visible-lg">
														</div>
														<div class="row">
															<div class="col-xs-4 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 nopad">
																<p>
																	<span class="user-output-term">48
      </span>monthly
																</p>
																<p>payments
																</p>
															</div>
															<div class="col-xs-8 col-sm-7">
																<span class="user-output-monthly-repayments exact-repayment">&#163;178.85
      </span>
															</div>
														</div>
													</div>
												</button>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-12 left-padd-off">
												<a href="<%= home_apply_path %>" class="btn btn-green large-calc-custom-apply" data-ga-item="" data-ga-label="Apply now" data-ga-action="Apply now" data-ga-category="Calculator" data-ga-event="Calculator">
													<div class="apply">Apply now
														<i class="fa fa-chevron-right apply-now-custom-chevron" aria-hidden="true"></i>
													</div>
													<div class="apply-now-underscore">
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 visible-xs">
									<div class="table-container-best-rates">
										<table class="table best-available-rate">
											<tbody>
												<tr>
													<td class="best-rate">Best available rate
														<span class="user-output-creditscore">7.0%
              </span>
													</td>
												</tr>
												<tr>
													<td>Total repayment
														<span class="user-output-total-repayment">&#163;8,584.78
              </span>
													</td>
												</tr>
												<tr>
													<td>Total cost of credit
														<span class="user-output-total-cost">&#163;1,084.78
              </span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tablet-ratings">
									<div class="tablet-ratings-container">
										<p>Best available rate
											<span class="user-output-creditscore">7.0%
      </span>
										</p>
									</div>
									<div class="tablet-ratings-container">
										<p>Total repayment
											<span class="user-output-total-repayment">&#163;8,584.78
      </span>
										</p>
									</div>
									<div class="tablet-ratings-container">
										<p>Total cost of credit
											<span class="user-output-total-cost">&#163;1,084.78
      </span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="brand-icons-calc">
							<div class="container">
								<div class="row">
									<div class="custom-brand-icons-row">
										<div class="col-xs-6 col-sm-6 col-md-5">
											<p class="calculator__we-compare">We compare products from 18 of the UK's top lenders to get you the best deal.</p>
										</div>
										<div class="col-xs-2 hidden-sm col-md-3"></div>
										<div class="col-sm-3 col-md-2 col-xs-2">
											<div class="barclays-logo-container">
                                                <img src="<%= image_path('logo_beefinance.jpg') %>" style="width: 100%; padding-top:20px" >
											</div>
										</div>
										<div class="col-xs-2 col-sm-3 col-md-2">
											<div class="paragon-logo-container">
<<<<<<< HEAD
                                                <img src="<%= image_path('company.jpg') %>" style="width: 52%">
=======
                                                <img src="<%= image_path('company.jpg') %>" style="width: 75%">
>>>>>>> 7fd42b5bcca60f11a1a7248150af60e7f79ae5bf

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="representative-example">
							<h3>Representative example. <span class="rep-example-credit-name">Excellent</span> Credit</h3>
							<p>
								Borrowing <span class="rep-example-amount">7500</span> over <span class="rep-example-term">4 years</span> with a representative APR of <span class="rep-example-rate">10.5%</span>, an annual interest rate of <span class="rep-example-rate">10.5%</span> and a deposit of <span class="rep-example-deposit">&#163;0.00</span>, the amount payable would be: <span class="rep-example-monthly">&#163;190.31</span> a month, with a total cost of credit of <span class="rep-example-cost-credit">&#163;1,635.06</span> and a total amount payable of <span class="rep-example-total-repayment">&#163;9,135.06</span>.
							</p>
							<p class="compliance-p"><span>CarFinance 247 is a broker and not a lender</span>
							</p>
						</div>
					</div>
				</section>


				<section id="your-expert" style="margin-bottom: 30px; background-image: url(<%= image_path('material/car2.jpg') %>)">
					<div class="container" syle="position: relative;">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-lg-12 center-large awards-tablet-push">
								<div class="row">
									<div class="col-xs-12">
										<div class="cf-sprite heart-section sprite-centered"></div>
										<p class="expert first-expert" style="color: #FFB400">
											[Our principles]
										</p>
										<p class="expert">Integrity</p>
										<p class="expert">Honor<span>
										<p class="expert">Passion<span>
			                            </span>
										</p>
										<div class="expertQuoteBorder"></div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="your-questions" class="faq-tablet-faq-page">
					<div class="visible-xs container mobileQuestionsHeader">
						<div class="row">
							<div class="col-xs-12">
								<svg id="mobile-svg" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 875.67 321.8" preserveAspectRatio="none">
									<image class="cls-image" xlink:href="https://www.carfinance247.co.uk/img/Final/components/your-questions-answered/carDrivingImage.jpg" clip-path="url(#myClip)" width="875px" height="370px"></image>
								</svg>
							</div>
						</div>
					</div>
					<div class="your-questions-body">
						<svg id="desktop-svg" class="hidden-xs" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -20 723.08 955.29">
							<clippath id="myClip2">
								<path class="clip-zone-desktop" d="M0,5H10L550,5s77,7,66,3.5S554,993,554,993H38V30Z"></path>
							</clippath>                            
							<image width="766" height="1012" transform="scale(0.94)" xlink:href="<%= image_path('material/car7_tate.jpg') %>" clip-path="url(#myClip2)"></image>
						</svg>
						<div class="container">
							<div class="row">
								<div class="col-xs-12 visible-xs">
									<div class="cf-sprite lifering-section sprite-centered"></div>
									<a href="https://www.carfinance247.co.uk/faq" class="anchor--no-underline">
										<h2 class="mobile-faq-page-hackers">Top FAQs answered</h2>
									</a>
									<ul>
										<li><a href="https://www.carfinance247.co.uk/faqcategory/7/bad-credit--refused-">What if I've been refused elsewhere?
    </a>
										</li>
										<li>
											<a href="https://www.carfinance247.co.uk/faqcategory/12/dealerships">Can I buy my car from any dealer?</a>
										</li>
										<li>
											<a href="https://www.carfinance247.co.uk/faqcategory/22/i-have-a-part-exchange">I have a part exchange, can I trade this in?</a>
										</li>
										<li>
											<a href="https://www.carfinance247.co.uk/faqcategory/18/fair-credit">I have fair credit, can you help?</a>
										</li>
									</ul>
								</div>
								<div class="hidden-xs col-sm-offset-3 col-sm-9 col-md-offset-4 col-md-8 desktop-questions-offset">
									<div class="cf-sprite lifering-section sprite-centered">
									</div>
									<a href="https://www.carfinance247.co.uk/faq" class="anchor--no-underline">
										<h2 class="your-questions-custom-padding">Top FAQs</h2>
										<h2 class="split-h2">answered</h2>
									</a>
									<div class="row question-and-answers-desktop">
										<div class="col-sm-6">
											<a class="questions-and-answers-redirect" href="https://www.carfinance247.co.uk/faqcategory/7/bad-credit--refused-">
												<h3>What if I've been<br>refused elsewhere?</h3>
											</a>
											<p>If you have poor or bad credit, or you have been refused a loan elsewhere, the good news is that we still may be able to help. In fact, a number of our lenders specialise in helping those with bad credit obtain... <a class="read-more-questions" href="https://www.carfinance247.co.uk/faqcategory/7/bad-credit--refused-">read more</a>
											</p>
										</div>
										<div class="col-sm-6">
											<a href="https://www.carfinance247.co.uk/faqcategory/12/dealerships" class="questions-and-answers-redirect"><h3>Can I buy my car<br>from any dealer?</h3></a>
											<p>At CarFinance 247, if your finance application is approved, you are free to choose a vehicle from any reputable UK dealership. This means you have plenty of choice and gives you the freedom to find the perfect vehicle... <a class="read-more-questions" href="https://www.carfinance247.co.uk/faqcategory/12/dealerships">read more</a>
											</p>
										</div>
										<div class="col-sm-6">
											<a href="https://www.carfinance247.co.uk/faqcategory/22/i-have-a-part-exchange" class="questions-and-answers-redirect">
												<h3>I have a part exchange,<br>can I trade this in?</h3>
											</a>
											<p>While a deposit isn't mandatory, we can accept down payments in the form of part-exchanges or cash and this will subsequently reduce the total amount that you are borrowing...
												<a class="read-more-questions" href="https://www.carfinance247.co.uk/faqcategory/22/i-have-a-part-exchange">read more</a>
											</p>
										</div>
										<div class="col-sm-6">
											<a href="https://www.carfinance247.co.uk/faqcategory/18/fair-credit" class="questions-and-answers-redirect">
												<h3>I have fair credit,
        <br>can you help?
        </h3>
											</a>
											<p>If you have a fair credit rating, there is every possibility of you being approved for finance to buy a vehicle. In fact, we have many finance options available for those with fair credit...
												<a class="read-more-questions" href="https://www.carfinance247.co.uk/faqcategory/18/fair-credit">read more</a>
											</p>
										</div>
									</div>
								</div>
								<div class="questions-buttons col-xs-12 col-sm-9 col-sm-offset-3 col-md-offset-4 col-md-8">
									<div class="row row-custom-padding">
										<div class="col-xs-12 col-md-10 col-md-offset-1">
											<div class="row">
												<div class="col-xs-6">
													<button class="btn btn-purple" data-ga-item="" data-ga-label="Click to call" data-ga-action="Click to call" data-ga-category="Homepage" data-ga-event="Homepage" style="background-color: #342791">
														<a href="" style="color: white; text-decoration: none;">
															<div class="cf-sprite phone-icon sprite-inline hidden-xs">
																<img src="<%= image_path('phone-receiver_white.png') %>"></img>
															</div>
															<span>0333 247 1247 
        </span>
														</a>
													</button>
												</div>
												<div class="col-xs-6 apply-now-answered">
													<a href="<%= home_apply_path() %>" class="btn btn-green" data-ga-item="" data-ga-label="Apply now" data-ga-action="Apply now" data-ga-category="Homepage" data-ga-event="Homepage">Apply now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<%= render 'template/help_section' %>


				</div>
			</div>
		</div>



        <script>
            $(document).ready(function() {
                setLikeUrl('/faqlike');
                setRatingUrl('/faqrating');
                $('#mobile-menu').click(function() {
                    console.log("sampel")
                    $('#bgOverlay').css("display", "block")
                    $('#mobile-nav').css('display', 'block')
                })
                $('#close').click(function() {
                    $('#bgOverlay').css("display", "none")
                    $('#mobile-nav').css('display', 'none')
                    $('#mobile-nav').animate({'marginRight':'0px'},500)
                })
            });
        </script>



	<script>
	        (function (w, d, s, l, i) {
	        w[l] = w[l] || []; w[l].push({
	        'gtm.start':
	        new Date().getTime(), event: 'gtm.js'
	        }); var f = d.getElementsByTagName(s)[0],
	        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
	        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
	        })(window, document, 'script', 'dataLayer', 'GTM-KMQ6CT');
	    </script>

</body>
