<body>
	<div class="container-fluid">
		<div class="row">
            <%= render 'template/navheader' %>
            
			<div class="scroll-stop" style="overflow-y: hidden; position: relative;">
				<!-- LARGE CALC |  -->
				<section class="large-calculator calculator-page-calc main-calc-scroll calculator-widget">
					<div class="container">
						<div class="representative-example">
							<h3>Representative example. <span class="rep-example-credit-name">Excellent</span> Credit</h3>
							<p>
								Borrowing <span class="rep-example-amount">7500</span> over <span class="rep-example-term">4 years</span> with a representative APR of <span class="rep-example-rate">10.5%</span>, an annual interest rate of <span class="rep-example-rate">10.5%</span> and a deposit of <span class="rep-example-deposit">$0.00</span>, the amount payable would be: <span class="rep-example-monthly">$190.31</span> a month, with a total cost of credit of <span class="rep-example-cost-credit">$1,635.06</span> and a total amount payable of <span class="rep-example-total-repayment">$9,135.06</span>.
							</p>
							<p class="compliance-p"><span>CarFinance 247 is a broker and not a lender</span>
							</p>
						</div>
					</div>
				</section>

				<section id="your-questions" class="faq-tablet-faq-page">
					<div class="visible-xs container mobileQuestionsHeader">
						<div class="row">
							<div class="col-xs-12">
								<svg id="mobile-svg" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 875.67 321.8" preserveAspectRatio="none">
									<image class="cls-image" xlink:href="https://www.carfinance247.co.uk/img/Final/components/your-questions-answered/carDrivingImage.jpg" clip-path="url(#myClip)" width="875px" height="370px"></image>
								</svg>
							</div>
						</div>
					</div>
					<div class="your-questions-body">
						<svg id="desktop-svg" class="hidden-sm hidden-xs" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -20 723.08 955.29">
							<clippath id="myClip2">
								<path class="clip-zone-desktop" d="M0,5H10L550,5s77,7,66,3.5S554,993,554,993H38V30Z"></path>
							</clippath>                            
							<image width="766" height="1012" transform="scale(0.94)" xlink:href="<%= image_path('material/car7_tate.jpg') %>" clip-path="url(#myClip2)"></image>
						</svg>
						<div class="container">
							<div class="row">
								<div class="col-xs-12 visible-xs">
									<div class="cf-sprite lifering-section sprite-centered"></div>
									<a  class="anchor--no-underline">
										<h2 class="mobile-faq-page-hackers">Top FAQs answered</h2>
									</a>
									<ul>
										<li><a >What if I've been refused elsewhere?
    </a>
										</li>
										<li>
											<a >Can I buy my car from any dealer?</a>
										</li>
										<li>
											<a >I have a part exchange, can I trade this in?</a>
										</li>
										<li>
											<a >I have fair credit, can you help?</a>
										</li>
									</ul>
								</div>
								<div class="hidden-xs col-sm-12 col-md-offset-4 col-md-8 desktop-questions-offset">
									<div class="cf-sprite lifering-section sprite-centered">
									</div>
									<a >
										<h2 class="your-questions-custom-padding">Top FAQs</h2>
										<h2 class="split-h2">answered</h2>
									</a>
									<div class="row question-and-answers-desktop">
										<div class="col-md-6 col-sm-12">
											<a class="questions-and-answers-redirect" >
												<h3>What if I've been<br>refused elsewhere?</h3>
											</a>
											<p>If you have poor or bad credit, or you have been refused a loan elsewhere, the good news is that we still may be able to help. In fact, a number of our lenders specialise in helping those with bad credit obtain... <a class="read-more-questions" >read more</a>
											</p>
										</div>
										<div class="col-md-6 col-sm-12">
											<a  class="questions-and-answers-redirect"><h3>Can I buy my car<br>from any dealer?</h3></a>
											<p>At CarFinance 247, if your finance application is approved, you are free to choose a vehicle from any reputable UK dealership. This means you have plenty of choice and gives you the freedom to find the perfect vehicle... <a class="read-more-questions" >read more</a>
											</p>
										</div>
										<div class="col-md-6 col-sm-12">
											<a  class="questions-and-answers-redirect">
												<h3>I have a part exchange,<br>can I trade this in?</h3>
											</a>
											<p>While a deposit isn't mandatory, we can accept down payments in the form of part-exchanges or cash and this will subsequently reduce the total amount that you are borrowing...
												<a class="read-more-questions" >read more</a>
											</p>
										</div>
										<div class="col-md-6 col-sm-12">
											<a  class="questions-and-answers-redirect">
												<h3>I have fair credit,
        <br>can you help?
        </h3>
											</a>
											<p>If you have a fair credit rating, there is every possibility of you being approved for finance to buy a vehicle. In fact, we have many finance options available for those with fair credit...
												<a class="read-more-questions" >read more</a>
											</p>
										</div>
									</div>
								</div>
								<div class="questions-buttons col-xs-12 hidden-sm col-md-offset-4 col-md-8">
									<div class="row row-custom-padding">
										<div class="col-xs-12 col-md-10 col-md-offset-1">
											<div class="row">
												<div class="col-xs-6">
													<button class="btn btn-purple" data-ga-item="" data-ga-label="Click to call" data-ga-action="Click to call" data-ga-category="Homepage" data-ga-event="Homepage" style="background-color: #342791">
														<a href="" style="color: white; text-decoration: none;">
															<div class="cf-sprite phone-icon sprite-inline hidden-xs">
																<img src="<%= image_path('phone-receiver_white.png') %>"></img>
															</div>
															<span>09 2223 232
        </span>
														</a>
													</button>
												</div>
												<div class="col-xs-6 apply-now-answered">
													<a href="<%= home_apply2_path %>" class="btn btn-green" data-ga-item="" data-ga-label="Apply now" data-ga-action="Apply now" data-ga-category="Homepage" data-ga-event="Homepage">Apply now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<%= render 'template/help_section' %>


				</div>
			</div>
		</div>



        <script>
            $(document).ready(function() {
                setLikeUrl('/faqlike');
                setRatingUrl('/faqrating');
                $('#mobile-menu').click(function() {
                    console.log("sampel")
                    $('#bgOverlay').css("display", "block")
                    $('#mobile-nav').css('display', 'block')
                })
                $('#close').click(function() {
                    $('#bgOverlay').css("display", "none")
                    $('#mobile-nav').css('display', 'none')
                    $('#mobile-nav').animate({'marginRight':'0px'},500)
                })
            });
        </script>



	<script>
	        (function (w, d, s, l, i) {
	        w[l] = w[l] || []; w[l].push({
	        'gtm.start':
	        new Date().getTime(), event: 'gtm.js'
	        }); var f = d.getElementsByTagName(s)[0],
	        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
	        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
	        })(window, document, 'script', 'dataLayer', 'GTM-KMQ6CT');
	    </script>

</body>
